#https://github.com/github/gitignore/tree/master/Global

dist
tsconfig.json
.eslintrc.json


web/views/qiye
*~
# KDE directory preferences
.directory

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.map
.project

node
npm-debug.log
node_modules
.nodemonignore


.vscode/

package-lock.json
